body {
    background-color: #f8f9fa;
}
h1 {
    margin-bottom: 30px;
}
#stockChart, #trendChart {
    max-height: 400px;
}
.card {
    margin-bottom: 20px;
    border-radius: 10px;
}
.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}
#login-btn {
    width: 100%;
}